/* Estilos para el menú izquierdo */
.menu-izquierdo {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
}

.menu-izquierdo a {
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu-izquierdo a:hover {
    background-color: #555;
}

.menu-izquierdo .logo {
    padding: 10px;
    text-align: center;
    background-color: #222;
}

.menu-izquierdo .logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #2f0b4e;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler-icon {
    font-size: 2.5em;
    color: white;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

/* Estilos para las imágenes y descripciones */
.row {
    margin-top: 20px;
}

.col-md-3 a.icon-link {
    text-decoration: none;
    color: #333;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s, border-color 0.3s;
}

.col-md-3 a.icon-link:hover {
    background-color: #2f0b4e;
    color: white;
    border-color: #2f0b4e;
}

.col-md-3 i {
    font-size: 3em;
}

.col-md-3 p {
    font-weight: bold;
}

/* Estilos para el botón de mostrar/ocultar el menú */
.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    transition: top 0.3s;
}

.menu-toggle button {
    background-color: #2f0b4e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.menu-toggle button i {
    margin-right: 5px;
}

/* Estilos para el menú desplegable de Bootstrap */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #2f0b4e;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav-item.dropdown .dropdown-menu a.dropdown-item {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.nav-item.dropdown .dropdown-menu a.dropdown-item:hover {
    background-color: #550b75;
    transition: background-color 0.3s;
}

/* Animación para el despliegue del menú */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para el menú desplegable */
.menu-derecho {
    position: fixed;
    top: 0;
    right: -300px;
    height: auto;
    width: auto;
    background-color: #2f0b4e;
    overflow-y: auto;
    transition: right 0.3s, height 0.3s, width 0.3s;
    z-index: 1000;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.menu-derecho .list-group-item {
    background-color: transparent;
    border: none;
    text-align: right;
    font-weight: bold;
}

.menu-derecho .list-group-item a {
    text-decoration: none;
    color: white;
}

/* Estilos cuando el menú está visible */
.menu-derecho.mostrar-menu {
    right: 0;
    top: 50px;
    width: auto;
    padding: 20px;
}

/* Eliminar el margen superior del contenido del menú */
.menu-derecho .list-group {
    margin-top: 0;
}

/* Estilos para el submenu de Reportes */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2f0b4e;
    z-index: 1001;
    width: 100%;
    text-align: center;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.5);
}

.submenu-item {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

.submenu-item:hover {
    background-color: #550b75;
}

/* Estilos para el cuerpo */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #2f0b4e;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler-icon {
    font-size: 2.5em;
    color: white;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

/* Estilos para las imágenes y descripciones */
.row {
    margin-top: 20px;
}

.col-md-3 a.icon-link {
    text-decoration: none;
    color: #333;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s, border-color 0.3s;
}

.col-md-3 a.icon-link:hover {
    background-color: #2f0b4e;
    color: white;
    border-color: #2f0b4e;
}

.col-md-3 i {
    font-size: 3em;
}

.col-md-3 p {
    font-weight: bold;
}

/* Estilos para el botón de mostrar/ocultar el menú */
.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    transition: top 0.3s;
}

.menu-toggle button {
    background-color: #2f0b4e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.menu-toggle button i {
    margin-right: 5px;
}

/* Estilos para el menú desplegable de Bootstrap */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #2f0b4e;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav-item.dropdown .dropdown-menu a.dropdown-item {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.nav-item.dropdown .dropdown-menu a.dropdown-item:hover {
    background-color: #550b75;
    transition: background-color 0.3s;
}

/* Animación para el despliegue del menú */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para el menú desplegable */
.menu-derecho {
    position: fixed;
    top: 0;
    right: -300px;
    height: auto;
    width: auto;
    background-color: #2f0b4e;
    overflow-y: auto;
    transition: right 0.3s, height 0.3s, width 0.3s;
    z-index: 1000;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.menu-derecho .list-group-item {
    background-color: transparent;
    border: none;
    text-align: right;
    font-weight: bold;
}

.menu-derecho .list-group-item a {
    text-decoration: none;
    color: white;
}

/* Estilos cuando el menú está visible */
.menu-derecho.mostrar-menu {
    right: 0;
    top: 50px;
    width: auto;
    padding: 20px;
}

/* Eliminar el margen superior del contenido del menú */
.menu-derecho .list-group {
    margin-top: 0;
}

/* Estilos para el submenu de Reportes */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2f0b4e;
    z-index: 1001;
    width: 100%;
    text-align: center;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.5);
}

.submenu-item {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

.submenu-item:hover {
    background-color: #550b75;
}

/* Estilos para el cuerpo */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

/* Estilos para el pie de página */
.pie-pagina {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.pie-pagina p {
    margin: 0;
}
